<div class="form-group">
    <label>{{localize "PF2E.ActionActionTypeLabel"}}</label>
    <select name="data.actionType.value" data-dtype="String">
        {{#select data.actionType.value}}
        {{#each actionTypes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "PF2E.ActionActionsLabel"}}</label>
    <select name="data.actions.value" data-dtype="String">
        {{#select data.actions.value}}
        <option value=""></option>
        {{#each actionsNumber as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "PF2E.ActionCategoryLabel"}}</label>
    <select name="data.actionCategory.value" data-dtype="String">
        {{#select data.actionCategory.value}}
        <option value=""></option>
        {{#each categories as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group-stacked">
    <label for="data.traits">
        {{localize "PF2E.TraitsLabel"}}
        <a class="trait-selector" data-options="featTraits"><i class="fas fa-edit"></i></a>
    </label>
    <ul class="traits-list">
        {{#each data.traits.selected as |v k|}}
            <span class="tag {{k}}">{{v}}</span>
        {{/each}}
    </ul>
</div>
